body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.main-wrapper {
  max-width: 100%;
}

/* --------------------------------HEADER--------------------------------------- */

.header {
  height: 20px;
  margin-top: 27px;
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
}

.header #checkbox {
  display: none;
}

.header .fa-bars {
  position: absolute;
  display: inline-block;
  right: 30px;
  font-size: 24px;
  display: block;
  cursor: pointer;
  display: none;
  z-index: 10;
}

.header .right-info {
  width: 548px;
  height: 50px;
  display: flex;
  align-items: flex-start;
}


.right-info ul {
  width: 374px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 48px;
}

.right-info ul a {
  text-decoration: none;
}
.right-info .nav-list .nav-item.active {
  font-weight: 600;
  color: #4e42d9;
}

.right-info ul a:hover {
  color: #4e42d9;
  font-weight: 600;
}

.right-info .button a {
  width: 126px;
  padding: 16px 30px;
  background-color: #4e42d9;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.right-info .button a:hover {
  background-color: #3c2edf;
}

/* --------------------------------Main BANNER--------------------------------------- */

.banner-details {
  max-width: 1440px;
  margin-bottom: 36px;
  height: 584px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.banner-details .left {
  max-width: 600px;
  margin-bottom: 57.5px;
  height: 467px;
}

.banner-details .left .heading {
  max-width: 464px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.8px;
  color: #3b3950;
}

.banner-details .left .sub-heading {
  max-width: 444px;
  width: 100%;
  color: #797979;
  font-weight: 400px;
  line-height: 150%;
  margin: 12px 46px 12px 0px;
  margin-bottom: 48px;
}

.banner-details .left .buttons a {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(78, 66, 217, 0.18);
  color: #4e42d9;
  border-radius: 4px;
  margin-right: 10px;
  padding: 16px 30px;
}

.banner-details .left .buttons a.active {
  color: white;
  background-color: #4e42d9;
}

.sub-heading p {
  margin-bottom: 20px;
}

.banner-details .right {
  max-width: 578px;
  min-width: 450px;
}

.banner-details .right img {
  width: 100%;
  height: auto;
}

/* --------------------------------SERVICE Section--------------------------------------- */

.service-section .heading {
  width: 196px;
  margin: 0px auto;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 177.9%;
  color: #3b3950;
}

.service-section .wrapper {
  height: 20em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 40px 20px 40px;
}

.wrapper .service-item {
  text-align: center;
  width: 285px;
  height: 216px;
}

.service-item .icon {
  width: 91px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0px auto;
  margin-bottom: 24px;
}

.icon img {
  width: 3.5em;
  height: 3.5em;
}

.service-item .icon1 {
  background-color: #fff2f2;
}

.service-item .icon2 {
  background-color: #e2f3ff;
}

.service-item .icon3 {
  background-color: #fdfbda;
}

.service-item .icon4 {
  background-color: #ffe7fb;
}

.description .service-name {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #3a384f;
  padding-bottom: 0.3em;
}

.description .service-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #797979;
}

/* --------------------------------BLOG Section--------------------------------------- */

.blog {
  /* max-width: 1400px; */
  background-color: #f8f8f8;
  padding: 74px 40px;
}

.blog .top {
  max-width: 559px;
  height: 101px;
  margin: 0px auto 12px auto;
  text-align: center;
}

.top .heading {
  font-size: 32px;
  font-weight: 600;
  color: #3b3950;
  margin-bottom: 8px;
}

.top .sub-heading {
  line-height: 150%;
  color: #797979;
}

.blog .wrapper {
  /* max-width: 1400px; */
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 31px;
  margin-top: 30px;
  padding: 12px;
  /* border: 2px solid blue; */
}

.wrapper .blog-item {
  width: 344.67px;
  padding: 24px;
  /* border: 2px solid red; */
}

.wrapper .blog-item:hover{
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0 25px 50px rgb(8 18 44 / 16%);
  cursor: pointer;
}

.wrapper .blog-item .upper-part {
  margin-bottom: 12px;
}

.blog-item .upper-part .img-wrapper {
  max-width: 386px;
  height: auto;
  margin-bottom: auto;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  margin-bottom: 0.2em;
  object-fit: cover;
}

.upper-part .caption {
  font-size: 14px;
  line-height: 140%;
  color: #797979;
}

.lower-part .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #3b3950;
  margin-bottom: 8px;
}

.lower-part .text {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #797979;
}

.blog .view-all-btn a {
  height: 50px;
  width: 135px;
  font-weight: 700;
  font-size: 16px;
  background: #4e42d9;
  color: white;
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------Footer Section-1--------------------------------------- */

.container .footer-section-1 {
  color: white;
  background: #292838;
  padding: 72px 0px 60px 50px;
  display: flex;
  justify-content: space-between;
}

.footer-section-1 .left {
  max-width: 550px;
  margin-bottom: 48px;
}

.left .logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 12px;
}

.left .text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 30%;
}

.footer-section-1 .right {
  width: 512px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 72px;
  white-space: nowrap;
}

.right .column {
  margin-right: 12px;
}

.right .column .heading {
  color: rgba(255, 255, 255, 0.906);
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  margin-bottom: 24px;
}

.column .links li {
  list-style: none;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.column .links li a {
  color: rgba(255, 255, 255, 0.8);
}

.links li a:hover {
  color: #2ed3cb;
}

/* --------------------------------Footer Section-2--------------------------------------- */

.footer-section-2 {
  font-size: 14px;
  background: #292838;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer-section-2 a {
  color: white;
}

/* --------------------------------RESPONSIVENESS--------------------------------------- */

/*-------------- LARGE----------------------- */

@media (max-width: 905px) {
  .banner-details .left .heading {
    font-size: 25px;
    line-height: 35px;
  }
  .banner-details .left .sub-heading {
    font-size: 12px;
  }
  .container .footer-section-1 {
    padding-left: 0;
  }
}

/*-------------- MEDIUM----------------------- */

@media (max-width: 870px) {
  .banner-details {
    flex-direction: column-reverse;
    height: auto;
    margin: 0;
  }
  .banner-details .left {
    margin: 0px;
  }
  .banner-details .left .heading {
    text-align: center;
    margin: auto;
  }
  .banner-details .left .sub-heading {
    text-align: center;
    margin: auto;
  }
  .banner-details .left .buttons {
    display: flex;
    justify-content: center;
  }
  .service-section .wrapper {
    height: auto;
    flex-direction: column;
  }
  .wrapper .service-item {
    margin-bottom: 5%;
  }
  .blog .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .container .footer-section-1 {
    flex-direction: column;
    align-items: center;
  }

  .bottom-navbar {
    flex-direction: column;
    align-items: none;
    padding: 72px 0 60px 0;
  }
  .footer-section-1 .sub-heading {
    margin-right: 0;
  }
  .footer-section-1 .left {
    max-width: 512px;
    text-align: center;
  }
  .left .text {
    margin: 0;
  }
  .footer-section-1 .right {
    margin-right: 0;
  }

  .header .right-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    display: none;
    z-index: 2;
    text-align: center;
  }

  .header #checkbox:checked ~ .right-info {
    display: block;
  }

  .header .right-info ul {
    margin-top: 20%;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .right-info ul li {
    margin-bottom: 10vh;
  }

  .header .fa-bars {
    display: block;
  }
  .right-info .button a {
    margin: auto;
  }
}

/*-------------- SMALL----------------------- */
@media (max-width: 595px) {
  .footer-section-1 .left {
    padding: 0 10% 0 10%;
  }
  .footer-section-1 .right {
    flex-direction: column;
    align-items: center;
    /* padding-left: 40px; */
    width: 100%;
  }

  .footer-section-1 .right .column {
    margin-bottom: 20px;
    width: 30%;
  }

  .banner-details .right {
    max-width: 560px;
    min-width: 0;
  }
  
  .banner-details .right img {
    height: auto;
    width: 100%;
  }
  .wrapper .blog-item{
    padding: 0;
  }

}
