body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.main-wrapper {
  max-width: 100%;
}

/* --------------------------------HEADER--------------------------------------- */

.container {
  /* max-width: 1400px; */
  margin: auto;
}

.header {
  height: 22px;
  margin-top: 27px;
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .right-info {
  width: 548px;
  height: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.right-info .nav-list {
  width: 374px;
  height: 24px;
  display: flex;
  margin-right: 48px;
  justify-content: space-around;
  align-items: flex-start;
}

.nav-item {
  padding: 0 24px;
  cursor: pointer;
}

.nav-item.active a {
  font-weight: 600;
  color: #4e42d9;
}

.nav-item a:hover {
  color: #4e42d9;
  font-weight: 600;
}

.right-info .button a {
  width: 120px;
  padding: 19px 1px;
  background-color: #4e42d9;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
}

.button a:hover {
  background-color: #3c2edf;
}

/* --------------------------------Main BANNER--------------------------------------- */

.banner-details {
  max-width: 1440px;
  margin-bottom: 36px;
  height: 584px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.banner-details .left {
  max-width: 600px;
  margin-bottom: 57.5px;
  height: 467px;
}

.banner-details .left .heading {
  max-width: 464px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.8px;
  color: #3b3950;
}

.banner-details .left .sub-heading {
  max-width: 444px;
  width: 100%;
  color: #797979;
  font-weight: 400px;
  line-height: 150%;
  margin: 12px 46px 12px 0px;
  margin-bottom: 48px;
}

.banner-details .left .buttons a {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(78, 66, 217, 0.18);
  color: #4e42d9;
  border-radius: 4px;
  margin-right: 10px;
  padding: 16px 30px;
}

.banner-details .left .buttons a.active {
  color: white;
  background-color: #4e42d9;
}

.sub-heading p {
  margin-bottom: 20px;
}

.banner-details .right {
  max-width: 578px;
  min-width: 450px;
}

.banner-details .right img {
  width: 100%;
  height: 100%;
}

/* --------------------------------SERVICE Section--------------------------------------- */

.service-section .heading {
  width: 196px;
  margin: 0px auto;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 177.9%;
  color: #3b3950;
}

.service-section .wrapper {
  height: 20em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 40px;
}

.wrapper .service-item {
  text-align: center;
  width: 285px;
  height: 216px;
}

.service-item .icon {
  width: 91px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0px auto;
  margin-bottom: 24px;
}

.icon img {
  width: 3.5em;
  height: 3.5em;
}

.service-item .icon1 {
  background-color: #fff2f2;
}

.service-item .icon2 {
  background-color: #e2f3ff;
}

.service-item .icon3 {
  background-color: #fdfbda;
}

.service-item .icon4 {
  background-color: #ffe7fb;
}

.description .service-name {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #3a384f;
  padding-bottom: 0.3em;
}

.description .service-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #797979;
}

/* --------------------------------BLOG Section--------------------------------------- */

.blog {
  /* max-width: 1400px; */
  background-color: #f8f8f8;
  padding: 74px 40px;
}

.blog .top {
  max-width: 559px;
  height: 101px;
  margin: 0px auto 12px auto;
  text-align: center;
}

.top .heading {
  font-size: 32px;
  font-weight: 600;
  color: #3b3950;
  margin-bottom: 8px;
}

.top .sub-heading {
  line-height: 150%;
  color: #797979;
}

.blog .wrapper {
  /* max-width: 1400px; */
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 31px;
  margin-top: 30px;
  padding: 12px;
}

.wrapper .blog-item {
  width: 344.67px;
  height: auto;
  padding: 24px;
}

.wrapper .blog-item .upper-part {
  margin-bottom: 12px;
}

.blog-item .upper-part .img-wrapper {
  max-width: 386px;
  height: 281px;
  margin-bottom: 12px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upper-part .caption {
  font-size: 14px;
  line-height: 140%;
  color: #797979;
}

.lower-part .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #3b3950;
  margin-bottom: 8px;
}

.lower-part .text {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #797979;
}

.blog .view-all-btn a {
  height: 50px;
  width: 135px;
  font-weight: 700;
  font-size: 16px;
  background: #4e42d9;
  color: white;
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------Footer Section-1--------------------------------------- */

.container .footer-section-1 {
  color: white;
  background: #292838;
  padding: 72px 0px 60px 50px;
  display: flex;
  justify-content: space-between;
}

.footer-section-1 .left {
  max-width: 550px;
  margin-bottom: 48px;
}

.left .logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 12px;
}

.left .text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 30%;
}

.footer-section-1 .right {
  width: 512px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 72px;
  white-space: nowrap;
}

.right .column {
  margin-right: 12px;
}

.right .column .heading {
  color: rgba(255, 255, 255, 0.906);
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  margin-bottom: 24px;
}

.column .links li {
  list-style: none;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.column .links li a {
  color: rgba(255, 255, 255, 0.8);
}

.links li a:hover {
  color: #2ed3cb;
}

footer{
  font-size: 14px;
  background: #292838;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}

footer a{
  color: white;
}
